# /master/kernel/kernel.bin
# /master/kernel/os_image.bin
# /master/kernel/osImage.bin
# /master/kernel/startUp.bin
# /test/32BitSwitchTest/32BitSwitchTest.bin
# /test/defaultStackPointerValue/defaultStackPointerValue.bin
# /test/loadDiskTest/loadDiskTest.bin
# /test/compileTest/functionCalls.bin
# /test/test16BitPrint/test16BitPrint.bin
# /master/drivers/ports.o
# /master/kernel.bin
# /master/kernel.elf
# /master/kernel/kernel_entry.o
# /master/kernel/kernel.elf
# /master/kernel/kernel.o
# /master/os_image.bin
# /master/startUp/startUp.bin
*.o
*.bin
*.elf
.vscode/
